<h1>About</h1>
<p>
	<%= link_to "42", "http://en.wikipedia.org/wiki/42_(number)" %>
	is a project to teach the meaning to life
	<!--<%= link_to "Ruby On Rails", "http://rubyonrails.org" %> -->
	in one month. This is the sample of that meaning.
</p>